
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
        margin: 0;
        font-family: 'lato',sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.6;
        color: #333;
        text-align: left;
        background-color: rgb(233, 238, 247);

    }
/*headings and logo*/

h1, h2 {
    font-family: Oswald, sans-serif;
    color:#003E53;
    letter-spacing: 1px;
}


#logo {
   font-size: 280%;
    float: left;
    margin-left: 20px;
}

#phone-logo {

    display: none;
}


/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500px;
}

#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    
}    

#menu a {
    text-decoration: none;
    color: #003E53;
}

#menu a:hover {
    border-bottom: 1px solid #003E53;
}
.dropdown {

    display: none;
}

.mobiledropdown {

    display: none;
}

/*main heading*/
.main-heading {
    font-size: 3rem;
    line-height: 1.2;
    color: #003E53;
    

}
.one-third-width-column {
    width: 33.33%;
    display: inline-block;
}

.main-heading-text{
    color: #003E53;
    font-size: 1.5rem;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 2px;
}
#heading{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 20px;
    padding-inline-start: 20px;
}


  .float-left {
    float: left;
}

/* hero image*/
.two-thirds-width-column {


    display: inline-block;

}

.float-right {
    float: right;
}

.hero-img {

    width: 700px;
    height: 350px;
    float: right;
}

.two-thirds-width-column img{
    display: block;
    border-style: none;
    
    padding-right: 0px;
    padding-left: 25px;
    /* create zoom effect on image*/
    animation-name: image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* create a level of zoom for image*/
@keyframes image-zoom {

    from {
         transform: scale(1.2);
    }
    to {

        transform: scale(1.1);

    }
}
.spacer {
    clear: both;
}
/* GP booking online*/
#book-gp {

    font-size: 130%;
    font-family: 'lato',sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

   
    height: 200px;
    width: 98%;

    margin-left: 0.5rem;
    margin-right: 1rem;


    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
   
    
    background-color: rgba(179, 208, 241, 0.7);

    
}
.text-center {

    text-align: center;
}
.font-size{

    font-size: 2.5rem;
}
.font-weight-bold {
    font-weight: 700;
}
/* gp onlinr booking buttons*/
.gp-booking-buttons{
    margin-top: 2rem;
   
    padding: 0;
    margin: 0;
    width: 100%;
  
}

.phone-gp {

    text-align: center;
    background-color: #003E53;
    color: #fff;
    border-color: #003E53;
    text-decoration: none;
    border: 1px solid transparent;

    display: inline-block;
    vertical-align: middle; 
    position: relative;
    

    cursor: pointer;
    
    
    border-radius: 6.1875rem;
    line-height:1.5;
    max-width: 350px;
   
    margin-left: 8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
   

}

.video-gp {

    text-align: center;
    background-color: #003E53;
    color: #fff;
    border-color: #003E53;
    text-decoration: none;
    border: 1px solid transparent;

    display: inline-block;
    vertical-align: middle; 
    position: relative;


    cursor: pointer;
    
    
    border-radius: 6.1875rem;
    line-height:1.5;
    max-width: 350px;
   
    margin-left: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
   
}

.btn-font-bold {
    font-size: 1.25rem;
    font-weight: 700;
}
/* How its work section */

h3 {
    font-family: Oswald, sans-serif;
    color:#003E53;
    letter-spacing: 0.5px;
}

.img-work-section {

    width: 350px;
    height: 350px;
}
/**book gp form styling **/
.form-section {
    clear: left;
    background-image: url(../images/bookgpform-image.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
    border: 1px solid #dfe2e5;
    border-radius: 2px;
    border-color: #999;
   
}

/** book gp form styling**/
.bookgp-form {
    margin: 70px 5% 0 0;
    color: #fff;
    background-color: rgba(0,62,83, 0.6);
    max-width: 500px;
    position: absolute;
    left: 7%;
    padding: 40px;
}

/**videogp menu styling**/
#menu-videogp {
    line-height: 75px;
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500px;
}
#menu-videogp li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    
}    

#menu-videogp a {
    text-decoration: none;
    color: #003E53;
}

#menu-videogp a:hover {
    border-bottom: 1px solid #003E53;
}

/**phonegp menu styling**/
#menu-phonegp {
    line-height: 75px;
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500px;
}
#menu-phonegp li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    
}    

#menu-phonegp a {
    text-decoration: none;
    color: #003E53;
}

#menu-videphonegpogp a:hover {
    border-bottom: 1px solid #003E53;
}

.text-input {
   
    color: #003E53;
    width: 100%;
    height: 25px;
    margin: 5px 10px 20px 10px;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.8;
}
#app-date-time
{
    border: 2px solid #003E53;
    border-radius: 3px;
    width: 100%;
    height: 30px;
}

#app-type {

    border: 2px solid #003E53;
    border-radius: 3px;
    width: 100%;
    height: 30px;
}
.text-input:hover {
    border-color:#003E53;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color:#003E53;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color:#003E53;
}

/** register form styling starts here**/

#register-form {

    width: 700px;
	padding: 25px;
    background-color: rgba(90, 126, 138, 0.7);
	border-radius: 8px;
	margin: 25px auto;
    align-self: center;
	
}

#menu-register {
    line-height: 75px;
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500px;
}
#menu-register li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    
}    

#menu-register a {
    text-decoration: none;
    color: #003E53;
}

#menu-register a:hover {
    border-bottom: 1px solid #003E53;
}
.block-label {
	display: block;
    line-height: 1.6;
   
}

label {
    margin: 10px 15px 5px 0;
}

input[type=submit] {
	margin-top: 20px;
	margin-left: 0.75rem;
	padding: 0.75rem;
	background-color:#003E53;
	color: white;
	border-radius: 5px;
    display: inline-block;
}

input[type=reset] {

	margin-top: 20px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: white;
    color: #003E53;
    border: 1px solid #003E53;
    border-radius: 5px;
    display: inline-block;
}
	
.gender {

    margin-top: 5px;
}

input[type=text],
input[type=email],
input[type=password] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
	margin: 0 auto;
    color: #003E53;
    font-weight: 400;
}

select {
    height: 30px;
    width: 100px;
    padding-left: 10px;
    display: inline-block;
}

input[type=tel] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
	margin: 0 auto;
    color: #003E53;
    font-weight: 400;
}

.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
@media screen and (max-width: 490px){
    .popup{
        width: 300px;
    }

}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);

}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup p{
    font-size: 18px;
    font-weight: 400;
}

.Signin , .register , .payment{

    padding-left: 10px;
	margin: 0 auto;
    color: #003E53;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;

}


/**sign in page styling **/
.signinbutton {
    height: 30px;
    width: 88%;
    padding-left: 5px;
	margin: 0 auto;
}
#menu-signin {
    line-height: 75px;
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500px;
}
#menu-signin li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    
}    

#menu-signin a {
    text-decoration: none;
    color: #003E53;
}

#menu-signin a:hover {
    border-bottom: 1px solid #003E53;
}

.paymentbtn{
    text-align: center;
    background-color: #003E53;
    color: #fff;
    border-color: #003E53;
    text-decoration: none;
    border: 1px solid transparent;

   display: inline-block;
    vertical-align: middle; 
     position: relative;


    cursor: pointer;
    
    
    border-radius:1rem;
    line-height:1.5;
    max-width: 350px;
   
    margin-left: 15rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    
}

/**payment page styling**/

#payment-form {

    width: 700px;
	padding: 25px;
    background-color: rgba(90, 126, 138, 0.7);
	border-radius: 8px;
	margin: 25px auto;
    align-self: center;
	
}

#menu-payment {
    line-height: 75px;
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500px;
}
#menu-payment li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    
}    

#menu-payment a {
    text-decoration: none;
    color: #003E53;
}

#menu-payment a:hover {
    border-bottom: 1px solid #003E53;
}
.inline-block
{
    display: inline-block;
    
}
#paynow {
    height: 30px;
    width: 95%;
    padding-left: 3px;

}

.card-cvc {

    margin-left: 3rem;
    margin-top: 0.5rem;
}

.card-number {

    margin-left: -3rem;
    margin-top: 0.5rem;

}

input[type=card]  {

    height: 30px;
    width: 100%;
    padding-left: 5px;

	
}

input[type=card-cvc] {

    height: 30px;
    width: 100%;
    padding-left: 5px;

}
/**how its works and include section**/

.container {

    margin: auto,0;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-include-section {

    width: 425px;
    height: 425px;

}

.child  .include {

    margin: 20px;
    line-height: 200px;
    height: 200px;
    width: 200px;
    text-align: center;
}

.Includecontainer {

    margin: auto,0;
    height: 1300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
/** contact section**/
#contact {

    font: size 1.5em;;
    font-family: 'lato',sans-serif;
   
    height: 200px;
    width: 93%;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 3rem;


    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
   
    
    background-color: rgba(179, 208, 241, 0.7);   
}


.contact-boxes-container {
    width: 66%;
    margin: 0 auto;
}

.contact-box-left {
    width: 250px;
    margin-top: -10px;
	float: left;
}

.contact-box-right {
    width: 250px;
    text-align: right;
    margin-top: -10px;
	float: right;
}

.contact-box-center {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}

th,
td {
    border-bottom: 1px solid black;
}

#phone-contact {

    display:none;
}

/**footer section**/
.phone-footer {

    display:none;
}

footer {
	background-color:#003E53;
	padding: 1em;
	text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
	z-index: 2;
}

footer > span {
	color: silver;
}

footer > a {
	color: beige;
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
}

footer > p {
	color: silver;
}

.text-uppercase {

    text-transform: uppercase;
}

/**responsive website**/

@media screen and (min-width: 768px) and (max-width: 1200px) {

    body {
        margin: 0;
        font-family: 'lato',sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.6;
        color: #333;
        text-align: left;
        background-color: rgb(233, 238, 247);
        max-width: 100%;
        max-height: 150%;
        

    }
/*headings and logo*/

h1, h2 {
    font-family: Oswald, sans-serif;
    color:#003E53;
    letter-spacing: 1px;
}


#logo {
   font-size: 4rem;
   line-height: 50px;
   margin-top: 50px;
   margin-left: 30px;
   margin-bottom: 50px;

    
}
#phone-logo {
    display: none;
}


/* navigation links */

#menu {
    display: none;
}


#menu li {
   display: none;
    
}    

.mobiledropdown {

    display: none;
}



.dropbtn {
    border: none;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 30px;
    
  }

  .dropbtn img {

    display: block;
    width: 100px;
    height: 100px;

  }
  
  .dropdown {
    float: right;
    display: block;
    margin-top: 15px;
    margin-right: 10px;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(179, 208, 241, 0.9);
    color:#003E53;
    min-width: 300px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;

   }
  
  .dropdown-content a {
    color: #003E53;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
    border: solid 0.1em #003E53;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  

/*main heading*/
#heading {
    display: block;
    list-style-type: disc;
    margin-block-start: 0.5em;
    margin-block-end: 4em;
    margin-inline-start: 2em;
    margin-inline-end: 30px;
    padding-inline-start: 20px;
    
}
.main-heading {
    font-size: 4rem;
    line-height: 1;
    color: #003E53;
    letter-spacing: 2;
    
    
    

}
.one-third-width-column {
    width: 90%;
    display: block;
    margin: 10px 10px 10px 10px;


   
}

.main-heading-text{

    color: #003E53;
    font-size: 3rem;
    margin-left: 0.1em;
    margin-right: 0.5px;
    padding-left: 2px;
}



  

/* hero image*/
.two-thirds-width-column {
    display: block;
    margin: 0,auto;
    width: 90%;
}

.hero-img {

    width: 900px;
    height: 350px;
    float:left;
    
}

.two-thirds-width-column img {
    

    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 10px;

    margin: 10px 10px 10px 10px;
    /* create zoom effect on image*/
    animation-name: hero-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* create a level of zoom for image*/
@keyframes hero-image-zoom {

    from {
         transform: scale(1.1);
    }
    to {

        transform: scale(1);

    }
}


.spacer {
    clear: both;
}

/* GP booking online*/
#book-gp {

    font-size: 250%;
    font-family: 'lato',sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

   
    height: 400px;
    width: 110%;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 40px;
    margin-bottom: 30px;



    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
   
    
    background-color: rgba(179, 208, 241, 0.7);

    
}
.text-center {

    text-align: center;
}
.font-size{

    font-size: 2.5rem;
}
.font-weight-bold {
    font-weight: 700;
}
/* gp onlinr booking buttons*/
.gp-booking-buttons{
    margin-top: 2rem;
   
    padding: 0;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80%;
    
  
}

.phone-gp {

    text-align: center;
    background-color: #003E53;
    color: #fff;
    border-color: #003E53;
    text-decoration: none;
    border: 1px solid transparent;

    display: block;
    cursor: pointer;
    
    
    border-radius: 6.1875rem;
    line-height:2.5;
    max-width: 450px;

   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
   

}

.video-gp {

    text-align: center;
    background-color: #003E53;
    color: #fff;
    border-color: #003E53;
    text-decoration: none;
    border: 1px solid transparent;

    display: block;
    cursor: pointer;
    
    
    border-radius: 6.1875rem;
    line-height:2.5;
    max-width: 450px;

   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
   
}

.btn-font-bold {
    font-size: 1.25rem;
    font-weight: 700;
}

/* How its work section */

h3 {
    font-family: Oswald, sans-serif;
    color:#003E53;
    letter-spacing: 0.5px;
}
/**how its works and include section**/
#how-its-work {

width: 90%;
height: 120%;

margin-left: 20px;
margin-right: 20px;
margin-top: 20px;
margin-bottom: 20px;


}
.img-work-section {

    width: 700px;
    height: 500px;
}

#one {

    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

#two {

    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

#three {

    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

#four {

    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.img-include-section {

    width: 800px;
    height: 500px;

}
.container {

    margin: auto,0;
    height: 2000%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.child  .include {

    margin: 50px;
    line-height: 100px;
    height: 100px;
    width: 100px;
    text-align: center;
}

.Includecontainer {

    margin-top: 30px;
    margin-bottom: 30px;
    height: 500%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
/**registration and from section**/
.register-responsive {

  width: 100%;
  height: 100%;
  font-size: 190%;
}
#menu-register {
    line-height: 75px;
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500px;
}
   
#menu-register li {
    float: right;
    margin-right: 10px;
    list-style-type: none;
    margin-top: 40px;
    
}    

#menu-register a {
    
    text-decoration: none;
    color: #003E53;
}

#menu.register a:hover {
    border-bottom: 1px solid #003E53;
}
/**signin responsive styling**/
.signin-responsive {

    width: 100%;
    height: 100%;
    font-size: 190%;
  }
  #menu-signin {
      line-height: 75px;
      font-size: 110%;
      letter-spacing: 4px;
      font-weight: 500px;
  }
     
  #menu-signin li {
      float: right;
      margin-right: 10px;
      list-style-type: none;
      margin-top: 40px;
      
  }    
  
  #menu-signin a {
      
      text-decoration: none;
      color: #003E53;
  }
  
  #menu-signin a:hover {
      border-bottom: 1px solid #003E53;
  }
/**payment responsive**/
.payment-responsive {

    width: 100%;
    height: 100%;
    font-size: 190%;
  }

  #menu-payment {
      line-height: 75px;
      font-size: 110%;
      letter-spacing: 4px;
      font-weight: 500px;
  }
     
  #menu-payment li {
      float: right;
      margin-right: 10px;
      list-style-type: none;
      margin-top: 40px;
      
  }    
  
  #menu-payment a {
      
      text-decoration: none;
      color: #003E53;
  }
  
  #menu-payment a:hover {
      border-bottom: 1px solid #003E53;
  }
  /** responsive telephone GP booking page**/
  
  .phonegp-responsive {
    width: 78%;
    height: 90%;
    font-size: 120%;
  }
  #menu-phonegp {
    line-height: 75px;
    font-size: 100%;
    letter-spacing: 3px;
    font-weight: 600px;
  }
     
  #menu-phonegp li {
      float: right;
      margin-right: 10px;
      list-style-type: none;
      margin-top: 40px;
    
  }    
  
  #menu-phonegp a {
      
      text-decoration: none;
      color: #003E53;
  }
  
  #menu-phonegp a:hover {
      border-bottom: 1px solid #003E53;
  }
/**responsive video gp booking page**/
.videogp-responsive {

    width: 78%;
    height: 90%;
    font-size: 120%;
  }

  #menu-videogp {
      line-height: 75px;
      font-size: 100%;
      letter-spacing: 3px;
      font-weight: 600px;
  }
     
  #menu-videogp li {
      float: right;
      margin-right: 10px;
      list-style-type: none;
      margin-top: 40px;
      
  }    
  
  #menu-videogp a {
      
      text-decoration: none;
      color: #003E53;
  }
  
  #menu-videogp a:hover {
      border-bottom: 1px solid #003E53;
  }

/** contact section**/
#contact {

    font-size: 150%;
    font-family: 'lato',sans-serif;
   
    height: 400px;
    width: 100%;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 3rem;


    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
   
    
    background-color: rgba(179, 208, 241, 0.7);   
}
.contact-font-size {

    font-size: 4rem;
}

.contact-boxes-container {
    width: 97%;
    margin: 0 auto;
}

.contact-box-left {

    width: 250px;
    margin-top: -10px;
	float: left;
}

.contact-box-right {
    width: 300px;
    text-align: right;
    margin-top: -10px;
	float: right;
    margin-right: 10px;
}

.contact-box-center {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}

th,
td {
    border-bottom: 1px solid #003E53;
}
#phone-contact {
    display:none;
}

/**footer section**/

.phone-footer {

    display:none;
}

footer {
	background-color:#003E53;
	padding: 1em;
	text-align: center;
    width: 98%;
    height: 250%;
    position: relative;
    bottom: 0;
    right: 0;
	z-index: 2;
}

footer > span {

	color: rgba(179, 208, 241);
    font-size: 2rem;
    font-weight: bold;
}

footer > a {

	color: rgb(247, 247, 245);
	text-decoration: none;
	padding: 0 10px;
	font-size: 1.5rem;
}

footer > p {
	color: rgb(247, 247, 245);
    font-size: 1.5rem;
}

.text-uppercase {

    text-transform: uppercase;
}

/**book gp form styling **/
.form-section {
    clear: left;
    background-image: url(../images/bookgpform-image.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
    border: 1px solid #dfe2e5;
    border-radius: 2px;
    border-color: #999;
   
}

/** signup form styling**/
.bookgp-form {
    margin: 70px 5% 0 0;
    color: #fff;
    background-color: rgba(0,62,83, 0.6);
    max-width: 400px;
    position: absolute;
    left: 5%;
    padding: 40px;
}


/** register form styling starts here**/

#register-form {

    width: 700px;
	padding: 25px;
    background-color: rgba(90, 126, 138, 0.7);
	border-radius: 8px;
	margin: 25px auto;
    align-self: center;
	
}


}

/**responsive website for phone**/

@media screen and (max-width: 768px) {

    body {
        margin: auto 0;
        font-family: 'lato',sans-serif;
        font-size:  100%;
        font-weight: 200;
        line-height: 1;
        color: #333;
        text-align: left;
        background-color: rgb(233, 238, 247);
        width: 100%;

    }

    /*headings and logo*/

h1, h2 {
    font-family: Oswald, sans-serif;
    color:#003E53;
    letter-spacing: 1px;
}

header {

    width: 100%;
    height: 100px;
    margin: 0 auto;
}


/* navigation links */

#menu {
    display: none;
}


#menu li {
   display: none;
    
}    

#logo {

    display: none;
}


  .mobiledropdownbtn {
    border: none;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 15px;
    display: block;
    min-width: 100%;
    height: 40%;
    text-align: center;
    font-size: 2.5rem ;
    background-color:  rgb(233, 238, 247);
    
  }
  
  .mobiledropdown {
    position: relative;
    display: block;
    
  }
  
  .mobiledropdown-content {

    display: none;
    position: absolute;
    background-color: rgba(179, 208, 241, 0.9);
    color:#003E53;
    min-width: 100%;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0 auto;

   }
  
  .mobiledropdown-content a {
    color: #003E53;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
    text-align: center;
    border: solid 0.1em #003E53;
  }
  
  .mobiledropdown-content a:hover {background-color: #f1f1f1}
  
  .mobiledropdown:hover .mobiledropdown-content {
    display: block;
  }

  

/*main heading*/
#heading {

    display: block;
    list-style-type: disc;
    margin-block-start: 2px;
    margin-block-end: 2px;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-inline-start: 20px;
    width: 100%;
    
}
.main-heading {
    font-size: 2.5rem;
    line-height: 1;
    color: #003E53;
    letter-spacing: 1.5;
}
.one-third-width-column {
    display: block;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
}

.main-heading-text{
    color: #003E53;
    font-size: 2rem;
    margin-left: 0.1em;
    margin-right: 0.5px;
    padding-left: 2px;
    padding-bottom: 2px;
}


  

/* hero image*/
.two-thirds-width-column {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.hero-img {

    width: 1000px;
    height: 350px;
    float: left;
    
}

.two-thirds-width-column img {

    margin: 0 auto;
    max-width: 125%;
   
    /* create zoom effect on image*/
    animation-name: hero-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* create a level of zoom for image*/
@keyframes hero-image-zoom {

    from {
         transform: scale(1);
    }
    to {

        transform: scale(1.1);

    }
}


.spacer {
    clear: both;
}

/* GP booking online*/
#book-gp {

    font-size: 250%;
    font-family: 'lato',sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

   
    height: 450px;
    width: 100%;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 40px;
    margin-bottom: 30px;



    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
   

    
    background-color: rgba(179, 208, 241, 0.7);

    
}
.text-center {

    text-align: center;
}
.font-size{

    font-size: 2.5rem;
}
.font-weight-bold {
    font-weight: 700;
}
/* gp online booking buttons*/
.gp-booking-buttons{
    margin-top: 2rem;
   
    padding: 0;
    /**margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;**/
    margin: 0 auto;
    width: 85%;
    
  
}

.phone-gp {

    text-align: center;
    background-color: #003E53;
    color: #fff;
    border-color: #003E53;
    text-decoration: none;
    border: 1px solid transparent;

    display: block;
    cursor: pointer;
    
    
    border-radius: 6.1875rem;
    line-height:2.5;
    max-width: 500px;

   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    margin: 0 auto;
    margin-top: 35px; 

}

.video-gp {

    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #003E53;
    color: #fff;
    border-color: #003E53;
    text-decoration: none;
    border: 1px solid transparent;

    display: block;
    cursor: pointer;
    
    
    border-radius: 6.1875rem;
    line-height:1.5;
    max-width: 450px;

   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
   
}

.btn-font-bold {
    font-size: 1.25rem;
    font-weight: 700;
}

/* How its work section */

h3 {
    font-family: Oswald, sans-serif;
    color:#003E53;
    letter-spacing: 0.5px;
}
/**how its works and include section**/
#how-its-work {

    width: 100%;
    height: 150%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px


}
.img-work-section {

    width: 400px;
    height: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#one {

    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

#two {

    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

#three {

    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

#four {

    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.include-section {

    width: 100%;
    height: 150%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px

}

.img-include-section {

    width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.container {

    margin: 0 auto;
    height: 2000%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.child  .include {

    margin: 50px;
    line-height: 100px;
    height: 100px;
    width: 100px;
    text-align: center;
}

.Includecontainer {

    margin-top: 30px;
    margin-bottom: 30px;
    height: 500%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
/**registration and from section**/
#phone-logo {

    margin: 0 auto;
    margin-top: 15px;
    display: block;
    min-width: 100%;
    height: 10px;
    text-align: center;
    font-size: 3.5rem ;
    line-height: 75px;
    
}

.register-responsive a {
    text-decoration: none;
}

.register-responsive {

    width: 100%;
    height: 100%;
    font-size: 190%;
  }

#menu-register {
    line-height: 75px;
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500px;
}
   
#menu-register li {
    float: right;
    margin-right: 10px;
    list-style-type: none;
    margin-top: 40px;
    
}    

#menu-register a {
    
    text-decoration: none;
    color: #003E53;
}

#menu.register a:hover {
    border-bottom: 1px solid #003E53;
}
/**signin responsive styling**/
.signin-responsive {

    width: 100%;
    height: 100%;
    font-size: 190%;
  }

  .signin-responsive a {
    text-decoration: none;
}
  #menu-signin {
      line-height: 75px;
      font-size: 110%;
      letter-spacing: 4px;
      font-weight: 500px;
  }
     
  #menu-signin li {
      float: right;
      margin-right: 10px;
      list-style-type: none;
      margin-top: 40px;
      
  }    
  
  #menu-signin a {
      
      text-decoration: none;
      color: #003E53;
  }
  
  #menu-signin a:hover {
      border-bottom: 1px solid #003E53;
  }
/**payment responsive**/
.payment-responsive {

    width: 100%;
    height: 100%;
    font-size: 190%;
  }

  
  .payment-responsive a {
    text-decoration: none;
}

  #menu-payment {
      line-height: 75px;
      font-size: 110%;
      letter-spacing: 4px;
      font-weight: 500px;
  }
     
  #menu-payment li {
      float: right;
      margin-right: 10px;
      list-style-type: none;
      margin-top: 40px;
      
  }    
  
  #menu-payment a {
      
      text-decoration: none;
      color: #003E53;
  }
  
  #menu-payment a:hover {
      border-bottom: 1px solid #003E53;
  }
  /** responsive telephone GP booking page**/
  
  .phonegp-responsive {
    width: 78%;
    height: 90%;
    font-size: 120%;
  }
  
  .phonegp-responsive a {
    text-decoration: none;
}
  #menu-phonegp {
    line-height: 75px;
    font-size: 100%;
    letter-spacing: 3px;
    font-weight: 600px;
  }
     
  #menu-phonegp li {
      float: right;
      margin-right: 10px;
      list-style-type: none;
      margin-top: 40px;
    
  }    
  
  #menu-phonegp a {
      
      text-decoration: none;
      color: #003E53;
  }
  
  #menu-phonegp a:hover {
      border-bottom: 1px solid #003E53;
  }
/**responsive video gp booking page**/
.videogp-responsive {

    width: 78%;
    height: 90%;
    font-size: 120%;
  }

  .videogp-responsive a {
    text-decoration: none;
  }
  

  #menu-videogp {
      line-height: 75px;
      font-size: 100%;
      letter-spacing: 3px;
      font-weight: 600px;
  }
     
  #menu-videogp li {
      float: right;
      margin-right: 10px;
      list-style-type: none;
      margin-top: 40px;
      
  }    
  
  #menu-videogp a {
      
      text-decoration: none;
      color: #003E53;
  }
  
  #menu-videogp a:hover {
      border-bottom: 1px solid #003E53;
  }

/** contact section**/

#contact {
    display:none;
}


#phone-contact {
    display: block;
    font-size: 150%;
    font-family: 'lato',sans-serif;
   
    height: 400px;
    width: 100%;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 3rem;


    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
   
    
    background-color: rgba(179, 208, 241, 0.7);   
}
.contact-font-size {

    font-size: 4rem;
}

.contact-boxes-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.phone-contact-box-left {

    width: 200px;
    margin-top: 50px;
    float: left;
    margin-left: 1px;
    text-align: center;
}

.phone-contact-box-right {
    width: 250px;
    text-align: center;
    margin-top: 50px;
    float: right;
    margin-right: 10px;
    padding-right: 10px;
}

.phone-contact-box-center {
    width: 200px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
}

th,
td {
    border-bottom: 1px solid #003E53;
}

/**footer section**/

.main-footer {
    display:none;
}

.phone-footer {
    display:block;
	background-color:#003E53;
	padding: 1em;
	text-align: center;
    width: 100%;
    height: 150px;
    position: relative;
    bottom: 0;
    right: 0;
	z-index: 1;
}

.phone-footer  > h2 {

	color: rgba(179, 208, 241);
    font-size: 2rem;
    font-weight: bold;
    margin-top:20px;
    
}

.phone-footer > a {

	color: rgb(247, 247, 245);
	text-decoration: none;
	padding: 0 5px;
	font-size: 1.7rem;
    line-height: 2em;
}

.phone-footer  > p {
	color: rgb(247, 247, 245);
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.5em;
}

.text-uppercase {

    text-transform: uppercase;
}

/**book gp form styling **/
.form-section {
    clear: left;
    background-image: url(../images/bookgpform-image.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
    border: 1px solid #dfe2e5;
    border-radius: 2px;
    border-color: #999;
   
}

/** signup form styling**/
.bookgp-form {
    margin: 70px 5% 0 0;
    color: #fff;
    background-color: rgba(0,62,83, 0.6);
    max-width: 400px;
    position: absolute;
    left: 5%;
    padding: 40px;
}


/** register form styling starts here**/



#register-form {

    width: 600px;
	padding: 25px;
    background-color: rgba(90, 126, 138, 0.7);
	border-radius: 8px;
	margin: 25px auto;
    align-self: center;
	
}


}