
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
        margin: 0;
        font-family: 'lato',sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.6;
        color: #333;
        text-align: left;
        background-color: rgb(233, 238, 247);

    }
/*headings and logo*/

h1, h2 {
    font-family: Oswald, sans-serif;
    color:#003E53;
    letter-spacing: 1px;
}


#logo {
   font-size: 280%;
    float: left;
    margin-left: 20px;
}


/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500px;
}

#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    
}    

#menu a {
    text-decoration: none;
    color: #003E53;
}

#menu a:hover {
    border-bottom: 1px solid #003E53;
}

/*main heading*/
.main-heading {
    font-size: 3rem;
    line-height: 1.2;
    color: #003E53;
    

}
.one-third-width-column {
    width: 33.33%;
    display: inline-block;
}

.main-heading-text{
    color: #003E53;
    font-size: 1.5rem;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 2px;
}
#heading{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 20px;
    padding-inline-start: 20px;
}


  .float-left {
    float: left;
}

/* hero image*/
.two-thirds-width-column {
    display: inline-block;
}

.float-right {
    float: right;
}

img{
    display: block;
    border-style: none;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    /* create zoom effect on image*/
    animation-name: image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* create a level of zoom for image*/
@keyframes image-zoom {

    from {
         transform: scale(1.1);
    }
    to {

        transform: scale(1);

    }
}
.spacer {
    clear: both;
}
/* GP booking online*/
#book-gp {

    font-size: 130%;
    font-family: 'lato',sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

   
    height: 200px;
    width: 98%;

    margin-left: 1rem;
    margin-right: 1rem;


    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
   
    
    background-color: rgba(179, 208, 241, 0.7);

    
}
.text-center {

    text-align: center;
}
.font-size{

    font-size: 2.5rem;
}
.font-weight-bold {
    font-weight: 700;
}
/* gp onlinr booking buttons*/
.gp-booking-buttons{
    margin-top: 2rem;
   
    padding: 0;
    margin: 0;
    width: 100%;
  
}

.phone-gp {

    text-align: center;
    background-color: #003E53;
    color: #fff;
    border-color: #003E53;
    text-decoration: none;
    border: 1px solid transparent;

   display: inline-block;
    vertical-align: middle; 
     position: relative;
    

    cursor: pointer;
    
    
    border-radius: 6.1875rem;
    line-height:1.5;
    max-width: 350px;
   
    margin-left: 8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
   

}

.video-gp {

    text-align: center;
    background-color: #003E53;
    color: #fff;
    border-color: #003E53;
    text-decoration: none;
    border: 1px solid transparent;

   display: inline-block;
    vertical-align: middle; 
     position: relative;


    cursor: pointer;
    
    
    border-radius: 6.1875rem;
    line-height:1.5;
    max-width: 350px;
   
    margin-left: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
   
}

.btn-font-bold {
    font-size: 1.25rem;
    font-weight: 700;
}
/* How its work section */

h3 {
    font-family: Oswald, sans-serif;
    color:#003E53;
    letter-spacing: 0.5px;
}
.form-section {
    clear: left;
    background-image: url(../images/bookgpform-image.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
    border: 1px solid #dfe2e5;
    border-radius: 2px;
    border-color: #999;
   
}


.signup-form {
    margin: 70px 5% 0 0;
    color: #fff;
    background-color: rgba(0,62,83, 0.6);
    max-width: 400px;
    position: absolute;
    left: 5%;
    padding: 40px;
}


.text-input {
   
    color: #003E53;
    width: 100%;
    height: 25px;
    margin: 5px 10px 20px 10px;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.8;
}
#app-date-time
{
    border: 2px solid #003E53;
    border-radius: 3px;
    width: 100%;
    height: 30px;
}

#app-type {

    border: 2px solid #003E53;
    border-radius: 3px;
    width: 100%;
    height: 30px;
}
.text-input:hover {
    border-color:#003E53;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color:#003E53;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color:#003E53;
}

/** register form styling starts here**/

#register-form {

    width: 700px;
	padding: 25px;
    background-color: rgba(90, 126, 138, 0.7);
	border-radius: 8px;
	margin: 25px auto;
    align-self: center;
	
}
.block-label {
	display: block;
    line-height: 1.6;
   
}

label {
    margin: 10px 15px 5px 0;
}

input[type=submit] {
	margin-top: 20px;
	margin-left: 0.75rem;
	padding: 0.75rem;
	background-color:#003E53;
	color: white;
	border-radius: 5px;
    display: inline-block;
}

input[type=reset] {

	margin-top: 20px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: white;
    color: #003E53;
    border: 1px solid #003E53;
    border-radius: 5px;
    display: inline-block;
}
	
.gender {

    margin-top: 5px;
}

input[type=text],
input[type=email],
input[type=password] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
	margin: 0 auto;
    color: #003E53;
    font-weight: 400;
}

select {
    height: 30px;
    width: 100px;
    padding-left: 10px;
    display: inline-block;
}

input[type=tel] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
	margin: 0 auto;
    color: #003E53;
    font-weight: 400;
}

.Signin , .register , .payment{

    padding-left: 10px;
	margin: 0 auto;
    color: #003E53;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;

}

/**sign in page styling **/


.register a:hover {
    border-bottom: 1px solid #003E53;
}

.signinbutton {
    height: 30px;
    width: 88%;
    padding-left: 5px;
	margin: 0 auto;
}

.paymentbtn{
    text-align: center;
    background-color: #003E53;
    color: #fff;
    border-color: #003E53;
    text-decoration: none;
    border: 1px solid transparent;

   display: inline-block;
    vertical-align: middle; 
     position: relative;


    cursor: pointer;
    
    
    border-radius:1rem;
    line-height:1.5;
    max-width: 350px;
   
    margin-left: 15rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    
}

/**payment page styling**/

#payment-form {

    width: 700px;
	padding: 25px;
    background-color: rgba(90, 126, 138, 0.7);
	border-radius: 8px;
	margin: 25px auto;
    align-self: center;
	
}
.inline-block
{
    display: inline-block;
    
}
#paynow {
    height: 30px;
    width: 95%;
    padding-left: 3px;

}

.card-cvc {

    margin-left: 3rem;
    margin-top: 0.5rem;
}

.card-number {

    margin-left: -3rem;
    margin-top: 0.5rem;

}

input[type=card]  {

    height: 30px;
    width: 100%;
    padding-left: 5px;

	
}

input[type=card-cvc] {

    height: 30px;
    width: 100%;
    padding-left: 5px;

}
/**how its work**/

.container {

    margin: auto,0;
    height: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.child {

    margin: 20px;
    line-height: 200px;
    height: 400px;
    width: 200px;
    text-align: center;
}