
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
        margin: 0 auto;
        font-family: 'lato',sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.7;
        color: #333;
        text-align: left;
        background-color: rgb(233, 238, 247);
        width: 100%;

    }
/*headings and logo*/

h1, h2 {
    font-family: Oswald, sans-serif;
    color:#003E53;
    letter-spacing: 1px;
}

header {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

#logo {
   font-size: 280%;
    float: left;
    margin-left: 20px;
}


/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500;
}

#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    
}    

#menu a {
    text-decoration: none;
    color: #003E53;
}

#menu a:hover {
    border-bottom: 1px solid #003E53;
}
.dropdown {

    display: none;
}

/*main heading*/
.main-heading {
    font-size: 3rem;
    line-height: 1.2;
    color: #003E53;

    

}
.one-third-width-column {
    width: 40%;
    display: inline-block;
}

.main-heading-text{
    color: #003E53;
    font-size: 2rem;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 2px;
}
#heading{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 20px;
    padding-inline-start: 20px;
    
}


  .float-left {
    float: left;
}

/* hero image*/
.two-thirds-width-column {


    display: inline-block;
    width: 55%;

}

.float-right {
    float: right;
}

.hero-img {

    width: 90%;
    height: 350px;
    float: right;
    margin-bottom: 30px;
    margin-top: 20px;
}

.two-thirds-width-column img{
    display: block;
    border-style: none;
    
    padding-right: 0px;
    padding-left: 25px;
    /* create zoom effect on image*/
    animation-name: image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* create a level of zoom for image*/
@keyframes image-zoom {

    from {
         transform: scale(1.2);
    }
    to {

        transform: scale(1.1);

    }
}
.spacer {
    clear: both;
}
/* GP booking online*/
#book-gp {

    font-size: 130%;
    font-family: 'lato',sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;

   
    height: 220px;
    width: 98%;

    margin-left: 0.5rem;
    margin-right: 1rem;


    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
   
    
    background-color: rgba(179, 208, 241, 0.7);

    
}
.text-center {

    text-align: center;
}
.font-size{

    font-size: 2.5rem;
}
.font-weight-bold {
    font-weight: 700;
}
/* gp onlinr booking buttons*/
.gp-booking-buttons{
    margin-top: 2rem;
   
    padding: 0;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  
}

.phone-gp {

    text-align: center;
    background-color: #003E53;
    color: #fff;
    border-color: #003E53;
    text-decoration: none;
    border: 1px solid transparent;

    vertical-align: middle; 
    cursor: pointer;
    
    border-radius: 6.1875rem;
    line-height:2.5;
    max-width: 450px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
   

}

.video-gp {

    text-align: center;
    background-color: #003E53;
    color: #fff;
    border-color: #003E53;
    text-decoration: none;
    border: 1px solid transparent;

    
    vertical-align: middle; 
   


    cursor: pointer;
    
    
    border-radius: 6.1875rem;
    line-height:2.5;
    max-width: 450px;
   
    margin-left: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
   
}

.btn-font-bold {
    font-size: 1.25rem;
    font-weight: 800;
}
/* How its work section */

h3 {
    font-family: Oswald, sans-serif;
    color:#003E53;
    letter-spacing: 0.5px;
}
#how-its-work{

    width: 100%;
    height: 800px;
}

.img-work-section {

    width: 350px;
    height: 350px;
}
/**book gp form styling **/
.form-section {
    clear: left;
    background-image: url(../images/bookgpform-image.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
    border: 1px solid #dfe2e5;
    border-radius: 2px;
    border-color: #999;
   
}

/** book gp form styling**/
.bookgp-form {
    margin: 70px 5% 0 0;
    color: #fff;
    background-color: rgba(0,62,83, 0.6);
    max-width: 500px;
    position: absolute;
    left: 7%;
    padding: 40px;
}

/**videogp menu styling**/
#menu-videogp {
    line-height: 75px;
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500;
}
#menu-videogp li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    
}    

#menu-videogp a {
    text-decoration: none;
    color: #003E53;
}

#menu-videogp a:hover {
    border-bottom: 1px solid #003E53;
}

/**phonegp menu styling**/
#menu-phonegp {
    line-height: 75px;
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500;
}
#menu-phonegp li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    
}    

#menu-phonegp a {
    text-decoration: none;
    color: #003E53;
}

#menu-phonegp a:hover {
    border-bottom: 1px solid #003E53;
}

.text-input {
   
    color: #003E53;
    width: 100%;
    height: 25px;
    margin: 5px 10px 20px 10px;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.8;
}
#app-date-time
{
    border: 2px solid #003E53;
    border-radius: 3px;
    width: 100%;
    height: 30px;
}

#app-type {

    border: 2px solid #003E53;
    border-radius: 3px;
    width: 100%;
    height: 30px;
}
.text-input:hover {
    border-color:#003E53;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color:#003E53;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color:#003E53;
}

/** register form styling starts here**/

#register-form {

    width: 700px;
	padding: 25px;
    background-color: rgba(90, 126, 138, 0.7);
	border-radius: 8px;
	margin: 25px auto;
    align-self: center;
	
}

#menu-register {
    line-height: 75px;
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500;
}
#menu-register li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    
}    

#menu-register a {
    text-decoration: none;
    color: #003E53;
}

#menu-register a:hover {
    border-bottom: 1px solid #003E53;
}
.block-label {
	display: block;
    line-height: 1.6;
    font-family: Oswald, sans-serif;
    color: #003E53;
    letter-spacing: 1px;
    font-size: 2rem;
    font-weight: 600;
   
}

label {
    margin: 10px 15px 5px 0;
}

input[type=submit] {
	margin-top: 20px;
	margin-left: 0.75rem;
	padding: 0.75rem;
	background-color:#003E53;
	color: white;
	border-radius: 5px;
    display: inline-block;
}

input[type=reset] {

	margin-top: 20px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: white;
    color: #003E53;
    border: 1px solid #003E53;
    border-radius: 5px;
    display: inline-block;
}
	
.gender {

    margin-top: 5px;
}

input[type=text],
input[type=email],
input[type=password] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
	margin: 0 auto;
    color: #003E53;
    font-weight: 400;
}

select {
    height: 30px;
    width: 100px;
    padding-left: 10px;
    display: inline-block;
}

input[type=tel] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
	margin: 0 auto;
    color: #003E53;
    font-weight: 400;
}

.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
@media screen and (max-width: 490px){
    .popup{
        width: 300px;
    }

}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);

}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup p{
    font-size: 18px;
    font-weight: 400;
}

.Signin , .register {

    padding-left: 10px;
	margin: 0 auto;
    color: #003E53;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;

}


/**sign in page styling **/
.signinbutton {
    height: 30px;
    width: 88%;
    padding-left: 5px;
	margin: 0 auto;
}
#menu-signin {
    line-height: 75px;
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500;
}
#menu-signin li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    
}    

#menu-signin a {
    text-decoration: none;
    color: #003E53;
}

#menu-signin a:hover {
    border-bottom: 1px solid #003E53;
}


/**how its works and include section**/
.include-section {

    width: 100%;
    height: 1600px;
}

.container {

    margin: 0 auto;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-include-section {

    width: 425px;
    height: 425px;

}

.child  .include {

    margin: 20px;
    line-height: 200px;
    height: 200px;
    width: 200px;
    text-align: center;
    font-size: 1.5rem;
}

.Includecontainer {

    margin: 0 auto;
    height: 1300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
/** contact section**/
#contact {

    font-size: 1.5em;
    font-family: 'lato',sans-serif;
   
    height: 250px;
    width: 100%;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 3rem;


    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
   
    
    background-color: rgba(179, 208, 241, 0.7);   
}


.contact-boxes-container {
    width: 100%;
    margin: 0 auto;
    font-size: 1.7rem;
}

.contact-box-left {
    width: 33%;
    margin-top: -10px;
	float: left;
}

.contact-box-right {
    width: 33%;
    text-align: center;
    margin-top: -10px;
	float: right;
}

.contact-box-center {
    width: 33%;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}

th,
td {
    border-bottom: 1px solid black;
}

#phone-contact {

    display:none;
}

/**footer section**/
.phone-footer {

    display:none;
}

footer {
	background-color:#003E53;
	padding: 1em;
	text-align: center;
    width: 100%;
    height: 150px;
    position: relative;
    bottom: 0;
    right: 0;
	z-index: 1;
    font-size: 2rem;
}

footer > span {
	color: silver;
    font-size: 1.5rem;
}

footer > a {
	color: beige;
	text-decoration: none;
	padding: 0 15px;
	font-size: 2rem;
}

footer > p {
	color: silver;
}

.text-uppercase {

    text-transform: uppercase;
}


/**responsive website for laptop**/
@media screen and (min-width: 1200px) and (max-width: 1380px) {

    body {
        margin: 0;
        font-family: 'lato',sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.6;
        color: #333;
        text-align: left;
        background-color: rgb(233, 238, 247);

    }
/*headings and logo*/

h1, h2 {
    font-family: Oswald, sans-serif;
    color:#003E53;
    letter-spacing: 1px;
}


#logo {
   font-size: 280%;
    float: left;
    margin-left: 20px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500;
}

#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    
}    

#menu a {
    text-decoration: none;
    color: #003E53;
}

#menu a:hover {
    border-bottom: 1px solid #003E53;
}
.dropdown {

    display: none;
}

.mobiledropdown {

    display: none;
}

/*main heading*/
.main-heading {
    font-size: 3rem;
    line-height: 1.2;
    color: #003E53;
    

}
.one-third-width-column {
    width: 33.33%;
    display: inline-block;
}

.main-heading-text{
    color: #003E53;
    font-size: 1.5rem;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 2px;
}

#heading{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 20px;
    padding-inline-start: 20px;
}


  .float-left {
    float: left;
}

/* hero image*/
.two-thirds-width-column {


    display: inline-block;
    width: 55%;

}

.float-right {
    float: right;
}

.hero-img {

    width: 90%;
    height: 350px;
    float: right;
    margin-right: -25px;
}

.two-thirds-width-column img{
    display: block;
    border-style: none;
    
    padding-right: 0px;
    padding-left: 25px;
    /* create zoom effect on image*/
    animation-name: image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* create a level of zoom for image*/
@keyframes image-zoom {

    from {
         transform: scale(1.2);
    }
    to {

        transform: scale(1.1);

    }
}
.spacer {
    clear: both;
}
/* GP booking online*/
#book-gp {

    font-size: 130%;
    font-family: 'lato',sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

   
    height: 200px;
    width: 100%;

    margin-left: 0.5rem;
    margin-right: 1rem;


    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
   
    
    background-color: rgba(179, 208, 241, 0.7);

    
}
.text-center {

    text-align: center;
}
.font-size{

    font-size: 2.5rem;
}
.font-weight-bold {
    font-weight: 800;
}
/* gp onlinr booking buttons*/
.gp-booking-buttons {
    margin-top: 2rem;
   
    padding: 0;
    margin: 0 auto;
    width: 100%;
  
}

.phone-gp {

    text-align: center;
    background-color: #003E53;
    color: #fff;
    border-color: #003E53;
    text-decoration: none;
    border: 1px solid transparent;

    display: inline-block;
    vertical-align: middle; 
    position: relative;
    

    cursor: pointer;
    
    
    border-radius: 6.1875rem;
    line-height:1.5;
    max-width: 350px;
   
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
   

}

.video-gp {

    text-align: center;
    background-color: #003E53;
    color: #fff;
    border-color: #003E53;
    text-decoration: none;
    border: 1px solid transparent;

    display: inline-block;
    vertical-align: middle; 
    position: relative;
    

    cursor: pointer;
    
    
    border-radius: 6.1875rem;
    line-height:1.5;
    max-width: 350px;
   
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
   
}

.btn-font-bold {
    font-size: 1.25rem;
    font-weight: 700;
}

/**book gp form styling **/
.form-section {
    clear: left;
    background-image: url(../images/bookgpform-image.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
    border: 1px solid #dfe2e5;
    border-radius: 2px;
    border-color: #999;
   
}

/** book gp form styling**/
.bookgp-form {
    margin: 70px 5% 0 0;
    color: #fff;
    background-color: rgba(0,62,83, 0.6);
    max-width: 500px;
    position: absolute;
    left: 7%;
    padding: 40px;
}

/**videogp menu styling**/
#menu-videogp {
    line-height: 75px;
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500;
}
#menu-videogp li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    
}    

#menu-videogp a {
    text-decoration: none;
    color: #003E53;
}

#menu-videogp a:hover {
    border-bottom: 1px solid #003E53;
}

/**phonegp menu styling**/
#menu-phonegp {
    line-height: 75px;
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500;
}
#menu-phonegp li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    
}    

#menu-phonegp a {
    text-decoration: none;
    color: #003E53;
}

#menu-phonegp a:hover {
    border-bottom: 1px solid #003E53;
}

.text-input {
   
    color: #003E53;
    width: 100%;
    height: 25px;
    margin: 5px 10px 20px 10px;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.8;
}
#app-date-time
{
    border: 2px solid #003E53;
    border-radius: 3px;
    width: 100%;
    height: 30px;
}

#app-type {

    border: 2px solid #003E53;
    border-radius: 3px;
    width: 100%;
    height: 30px;
}
.text-input:hover {
    border-color:#003E53;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color:#003E53;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color:#003E53;
}

/** register form styling starts here**/

#register-form {

    width: 700px;
	padding: 25px;
    background-color: rgba(90, 126, 138, 0.7);
	border-radius: 8px;
	margin: 25px auto;
    align-self: center;
	
}

#menu-register {
    line-height: 75px;
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500;
}
#menu-register li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    
}    

#menu-register a {
    text-decoration: none;
    color: #003E53;
}

#menu-register a:hover {
    border-bottom: 1px solid #003E53;
}
.block-label {
	display: block;
    line-height: 1.6;
   
}

label {
    margin: 10px 15px 5px 0;
}

input[type=submit] {
	margin-top: 20px;
	margin-left: 0.75rem;
	padding: 0.75rem;
	background-color:#003E53;
	color: white;
	border-radius: 5px;
    display: inline-block;
}

input[type=reset] {

	margin-top: 20px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: white;
    color: #003E53;
    border: 1px solid #003E53;
    border-radius: 5px;
    display: inline-block;
}
	
.gender {

    margin-top: 5px;
}

input[type=text],
input[type=email],
input[type=password] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
	margin: 0 auto;
    color: #003E53;
    font-weight: 400;
}

select {
    height: 30px;
    width: 100px;
    padding-left: 10px;
    display: inline-block;
}

input[type=tel] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
	margin: 0 auto;
    color: #003E53;
    font-weight: 400;
}

.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
@media screen and (max-width: 490px){
    .popup{
        width: 300px;
    }

}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);

}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup p{
    font-size: 18px;
    font-weight: 400;
}

.Signin , .register , .payment{

    padding-left: 10px;
	margin: 0 auto;
    color: #003E53;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;

}


/**sign in page styling **/
.signinbutton {
    height: 30px;
    width: 88%;
    padding-left: 5px;
	margin: 0 auto;
}
#menu-signin {
    line-height: 75px;
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500;
}
#menu-signin li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    
}    

#menu-signin a {
    text-decoration: none;
    color: #003E53;
}

#menu-signin a:hover {
    border-bottom: 1px solid #003E53;
}

/* How its work section */

h3 {
    font-family: Oswald, sans-serif;
    color:#003E53;
    letter-spacing: 0.5px;
   
}

.img-work-section {

    width: 350px;
    height: 350px;
}
/**how its works and include section**/

.container {


    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-include-section {

    width: 425px;
    height: 425px;

}

.child {

    line-height: 1.5;
    height: 200px;
    width: 270px;
    text-align: center;


}

.include {

    margin: 20px;
    line-height: 200px;
    height: 200px;
    width: 200px;
    text-align: center;
}

.Includecontainer {

    
    height: 1300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
/** contact section**/
#contact {

    font-size: 1.5em;
    font-family: 'lato',sans-serif;
   
    height: 250px;
    width: 100%;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 3rem;


    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
   
    
    background-color: rgba(179, 208, 241, 0.7);   
}


.contact-boxes-container {
    width: 100%;
    margin: 0 auto;
    font-size: 1.7rem;
}

.contact-box-left {
    width: 33%;
    margin-top: -10px;
	float: left;
}

.contact-box-right {
    width: 33%;
    text-align: center;
    margin-top: -10px;
	float: right;
}

.contact-box-center {
    width: 33%;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}

th,
td {
    border-bottom: 1px solid black;
}

#phone-contact {

    display:none;
}

/**footer section**/
.phone-footer {

    display:none;
}

footer {
	background-color:#003E53;
	padding: 1em;
	text-align: center;
    width: 100%;
    height: 150px;
    position: relative;
    bottom: 0;
    right: 0;
	z-index: 1;
    font-size: 2rem;
}

footer > span {
	color: silver;
    font-size: 1.5rem;
}

footer > a {
	color: beige;
	text-decoration: none;
	padding: 0 15px;
	font-size: 2rem;
}

footer > p {
	color: silver;
}

.text-uppercase {

    text-transform: uppercase;
}


}

@media screen and (min-width: 768px) and (max-width: 1200px) {

    body {
        margin: auto 0;
        font-family: 'lato',sans-serif;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.4;
        color: #333;
        text-align: left;
        background-color: rgb(233, 238, 247);
        width: 100%;
        max-height: 150%;

    }


/*headings and logo*/

h1, h2 {
    font-family: Oswald, sans-serif;
    color:#003E53;
    letter-spacing: 1px;
}

header {

        width: 99%;
        height: 100px;
        margin-bottom: 20px;
    
}

#logo {
   font-size: 4rem;
   line-height: 50px;
   margin-top: 50px;
   margin-left: 30px;
   margin-bottom: 50px;

    
}


/* navigation links */

#menu {
    display: none;
}


#menu li {
   display: none;
    
}    
#menu-phonegp {

    display: none;
}

#menu-videogp {

    display: none;
}

#laptop-contact {
    display: block;
  }

#ph-contact{

    display: none;
  }

.dropbtn {
    border: none;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 30px;
    
  }

  .dropbtn img {

    display: block;
    width: 100px;
    height: 100px;

  }
  
  .dropdown {
    float: right;
    display: block;
    margin-top: 10px;
    margin-right: 10px;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(179, 208, 241, 0.9);
    color:#003E53;
    min-width: 300px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;

   }
  
  .dropdown-content a {
    color: #003E53;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
    border: solid 0.1em #003E53;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
/*main heading*/
#heading {
    display: block;
    list-style-type: disc;
    margin-block-start: 0.5em;
    margin-block-end: 4em;
    margin-inline-start: 2em;
    margin-inline-end: 30px;
    padding-inline-start: 20px;
    width: 99%;
    
}
.main-heading {
    font-size: 4rem;
    line-height: 1;
    color: #003E53;
}

.one-third-width-column {
    width: 99%;
    display: block;
    margin: 10px 10px 10px 10px;


   
}

.main-heading-text{

    color: #003E53;
    font-size: 2.6rem;
    margin-left: 0.1em;
    margin-right: 0.5px;
    padding-left: 2px;
}



  

/* hero image*/
.two-thirds-width-column {
    display: block;
    margin-left: 8%;
    width: 99%;
}

.hero-img {

    width: 90%;
    height: 400px;
    float: left;
    
}

.two-thirds-width-column img {
    

    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 10px;

    margin: 0 auto;
    /* create zoom effect on image*/
    animation-name: hero-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* create a level of zoom for image*/
@keyframes hero-image-zoom {

    from {
         transform: scale(1.2);
    }
    to {

        transform: scale(1.1);

    }
}


.spacer {
    clear: both;
}

/* GP booking online*/

#book-gp {

    font-size: 250%;
    font-family: 'lato',sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

   
    height: 400px;
    width: 99%;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 40px;
    margin-bottom: 30px;



    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
   
    
    background-color: rgba(179, 208, 241, 0.7);

    
}
.text-center {

    text-align: center;
}
.font-size{

    font-size: 2.5rem;
}
.font-weight-bold {
    font-weight: 700;
}
/* gp onlinr booking buttons*/
.gp-booking-buttons{

    margin-top: 2rem;

    padding: 0;
    margin: 0 auto;

    
  
}

.phone-gp {

    text-align: center;
    background-color: #003E53;
    color: #fff;
    border-color: #003E53;
    text-decoration: none;
    border: 1px solid transparent;

    display: block;
    cursor: pointer;
    
    
    border-radius: 6.1875rem;
    line-height:2.5;
    max-width: 450px;

   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
   

}

.video-gp {

    text-align: center;
    background-color: #003E53;
    color: #fff;
    border-color: #003E53;
    text-decoration: none;
    border: 1px solid transparent;

    display: block;
    cursor: pointer;
    
    
    border-radius: 6.1875rem;
    line-height:2.5;
    max-width: 450px;
    margin-left: 3px;

   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
   
}

.btn-font-bold {
    font-size: 1.25rem;
    font-weight: 700;
}

/* How its work section */

h3 {
    font-family: Oswald, sans-serif;
    color:#003E53;
    letter-spacing: 0.5px;
    font-size: 1.8rem;
}
/**how its works and include section**/
#how-its-work {

width: 99%;
height: 120%;

margin-left: 20px;
margin-right: 20px;
margin-top: 20px;
margin-bottom: 20px;


}
.img-work-section {

    width: 700px;
    height: 500px;
}

#one {

    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.one, .two, .three {

    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

#two {

    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}


#three {

    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

#four {

    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}
.include-section{

    display: block;
    width: 100%;
    height: 150%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.2;
}

.img-include-section {

    width: 800px;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 10px;

}
.container {

    margin: 0 auto;
    height: 2000%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.child  .include {

    margin: 50px;
    line-height: 100px;
    height: 100px;
    width: 100px;
    text-align: center;
}

.Includecontainer {

    margin-top: 30px;
    margin-bottom: 30px;
    height: 500%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
/**registration and from section**/
.register-responsive {

  width: 100%;
  height: 100%;
  font-size: 190%;
}
#menu-register {
    line-height: 75px;
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500;
}
   
#menu-register li {
    float: right;
    margin-right: 10px;
    list-style-type: none;
    margin-top: 40px;
    
}    

#menu-register a {
    
    text-decoration: none;
    color: #003E53;
}

#menu.register a:hover {
    border-bottom: 1px solid #003E53;
}
/**signin responsive styling**/
.signin-responsive {

    width: 100%;
    height: 100%;
    font-size: 190%;
  }
  #menu-signin {
      line-height: 75px;
      font-size: 110%;
      letter-spacing: 4px;
      font-weight: 500;
  }
     
  #menu-signin li {
      float: right;
      margin-right: 10px;
      list-style-type: none;
      margin-top: 40px;
      
  }    
  
  #menu-signin a {
      
      text-decoration: none;
      color: #003E53;
  }
  
  #menu-signin a:hover {
      border-bottom: 1px solid #003E53;
  }

  /** responsive telephone GP booking page**/
  
  .phonegp-responsive {
    width: 100%;
    height: 120%;
   
    
  }
 

    .text-input  {
        display: block;
        color: #003E53;
        width: 100%;
        height: 25px;
        margin: 5px 10px 20px 10px;
        font-size: 1.8;
        font-weight: 800;
        line-height: 1.8;
    }

/**responsive video gp booking page**/
.videogp-responsive {

    width: 100%;
    height: 120%;
  }

  
/** contact section**/
#contact {

    font-size: 150%;
    font-family: 'lato',sans-serif;
   
    height: 400px;
    width: 100%;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 3rem;


    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
   
    
    background-color: rgba(179, 208, 241, 0.7);   
}
.contact-font-size {

    font-size: 4rem;
}

.contact-boxes-container {
    width: 97%;
    margin: 0 auto;
}

.contact-box-left {

    width: 250px;
    margin-top: -10px;
	float: left;
}

.contact-box-right {
    width: 300px;
    text-align: right;
    margin-top: -10px;
	float: right;
    margin-right: 10px;
}

.contact-box-center {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}

th,
td {
    border-bottom: 1px solid #003E53;
}
#phone-contact {
    display:none;
}

/**footer section**/

.phone-footer {

    display:none;
}

footer {
	background-color:#003E53;
	padding: 1em;
	text-align: center;
    width: 99%;
    height: 250%;
    position: relative;
    bottom: 0;
    right: 0;
	z-index: 2;
}

footer > span {

	color: rgba(179, 208, 241);
    font-size: 2rem;
    font-weight: bold;
}

footer > a {

	color: rgb(247, 247, 245);
	text-decoration: none;
	padding: 0 10px;
	font-size: 1.5rem;
}

footer > p {
	color: rgb(247, 247, 245);
    font-size: 1.5rem;
}

.text-uppercase {

    text-transform: uppercase;
}

/**book gp form styling **/
.form-section {
    clear: left;
    background-image: url(../images/bookgpform-image.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
    border: 1px solid #dfe2e5;
    border-radius: 2px;
    border-color: #999;
   
}

/** signup form styling**/
.bookgp-form {
    margin: 70px 5% 0 0;
    color: #fff;
    background-color: rgba(0,62,83, 0.6);
    max-width: 50%;
    height: 60%;
    position: absolute;
    left: 5%;
    padding: 40px;
    
}


/** register form styling starts here**/

#register-form {

    width: 700px;
	padding: 25px;
    background-color: rgba(90, 126, 138, 0.7);
	border-radius: 8px;
	margin: 25px auto;
    align-self: center;
	
}


}

/**responsive website for phone**/

@media screen and (min-width: 470px) and (max-width: 768px) {

    body {
        margin: auto 0;
        font-family: 'lato',sans-serif;
        font-size:  100%;
        font-weight: 200;
        line-height: 1.5;
        color: #333;
        text-align: left;
        background-color: rgb(233, 238, 247);
        width: 100%;

    }

    /*headings and logo*/

    h1, h2 {
        font-family: Oswald, sans-serif;
        color:#003E53;
        letter-spacing: 1px;
    }
    
    header {
    
            width: 99%;
            height: 100px;
            margin-bottom: 20px;
        
    }
    
    #logo {
       font-size: 4rem;
       line-height: 50px;
       margin-top: 50px;
       margin-left: 30px;
       margin-bottom: 50px;
    
        
    }
   
    
    
    /* navigation links */
    
    #menu {
        display: none;
    }
    
    
    #menu li {
       display: none;
        
    }    
    #menu-phonegp {
    
        display: none;
    }
    
    #menu-videogp {
    
        display: none;
    }
    
    
    .dropbtn {
        border: none;
        cursor: pointer;
        margin-right: 20px;
        margin-top: 30px;
        
      }
    
      .dropbtn img {
    
        display: block;
        width: 90px;
        height: 90px;
    
      }
      
      .dropdown {
        float: right;
        display: block;
        margin-top: 10px;
        margin-right: 10px;
        
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgba(179, 208, 241, 0.9);
        color:#003E53;
        min-width: 300px;
        box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
        z-index: 1;
        right: 0;
    
       }
      
      .dropdown-content a {
        color: #003E53;
        padding: 8px 8px;
        text-decoration: none;
        display: block;
        border: solid 0.1em #003E53;
      }
      
      .dropdown-content a:hover {background-color: #f1f1f1}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }

      #laptop-contact {
        display: none;
      }
    
      #ph-contact{
    
        display: block;
      }
      
#heading {

    display: block;
    list-style-type: disc;
    margin-block-start: 2px;
    margin-block-end: 2px;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-inline-start: 20px;
    width: 100%;
    
}
.main-heading {
    font-size: 2.5rem;
    line-height: 1;
    color: #003E53;
    
}
.one-third-width-column {
    display: block;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
}

.main-heading-text{
    color: #003E53;
    font-size: 2rem;
    margin-left: 0.1em;
    margin-right: 0.5px;
    padding-left: 2px;
    padding-bottom: 2px;
}


  

/* hero image*/
.two-thirds-width-column {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.hero-img {

    width: 100%;
    height: 350px;
    float: left;
    
}

.two-thirds-width-column img {

    margin: 0 auto;
    max-width: 100%;
   
    /* create zoom effect on image*/
    animation-name: hero-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* create a level of zoom for image*/
@keyframes hero-image-zoom {

    from {
         transform: scale(1);
    }
    to {

        transform: scale(1.1);

    }
}


.spacer {
    clear: both;
}

/* GP booking online*/
#book-gp {

    font-size: 250%;
    font-family: 'lato',sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

   
    height: 450px;
    width: 100%;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 40px;
    margin-bottom: 30px;



    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
   

    
    background-color: rgba(179, 208, 241, 0.7);

    
}
.text-center {

    text-align: center;
}
.font-size{

    font-size: 2.5rem;
}
.font-weight-bold {
    font-weight: 700;
}
/* gp online booking buttons*/
.gp-booking-buttons{
    margin-top: 2rem;
   
    padding: 0;
    margin: 0 auto;
    width: 85%;
    
  
}

.phone-gp {

    text-align: center;
    background-color: #003E53;
    color: #fff;
    border-color: #003E53;
    text-decoration: none;
    border: 1px solid transparent;

    display: block;
    cursor: pointer;
    
    
    border-radius: 6.1875rem;
    line-height: 1.5;
    max-width: 500px;

   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    margin: 0 auto;
    margin-top: 35px; 

}

.video-gp {

    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #003E53;
    color: #fff;
    border-color: #003E53;
    text-decoration: none;
    border: 1px solid transparent;

    display: block;
    cursor: pointer;
    
    
    border-radius: 6.1875rem;
    line-height:1.5;
    max-width: 450px;

   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
   
}

.btn-font-bold {
    font-size: 1.25rem;
    font-weight: 700;
}

/* How its work section */

h3 {
    font-family: Oswald, sans-serif;
    color:#003E53;
    letter-spacing: 0.5px;
}
/**how its works and include section**/
#how-its-work {

    width: 100%;
    height: 150%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px


}
.img-work-section {

    width: 400px;
    height: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#one {

    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

#two {

    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

#three {

    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

#four {

    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.include-section {
    display: block;
    width: 100%;
    height: 150%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.2;

}

.img-include-section {

    width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.container {

    margin: 0 auto;
    height: 2000%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.child  .include {

    margin: 50px;
    line-height: 100px;
    height: 100px;
    width: 100px;
    text-align: center;
}

.Includecontainer {

    margin-top: 30px;
    margin-bottom: 30px;
    height: 500%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
/**registration and from section**/

.register-responsive a {
    text-decoration: none;
}

.register-responsive {

    width: 100%;
    height: 100%;
    font-size: 190%;
  }

#menu-register {
    line-height: 75px;
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500;
}
   
#menu-register li {
    float: right;
    margin-right: 10px;
    list-style-type: none;
    margin-top: 40px;
    
}    

#menu-register a {
    
    text-decoration: none;
    color: #003E53;
}

#menu.register a:hover {
    border-bottom: 1px solid #003E53;
}
/**signin responsive styling**/
.signin-responsive {

    width: 100%;
    height: 100%;
    font-size: 190%;
  }

  .signin-responsive a {
    text-decoration: none;
}
  #menu-signin {
      line-height: 75px;
      font-size: 110%;
      letter-spacing: 4px;
      font-weight: 500;
  }
     
  #menu-signin li {
      float: right;
      margin-right: 10px;
      list-style-type: none;
      margin-top: 40px;
      
  }    
  
  #menu-signin a {
      
      text-decoration: none;
      color: #003E53;
  }
  
  #menu-signin a:hover {
      border-bottom: 1px solid #003E53;
  }

  /** responsive telephone GP booking page**/
  
  .phonegp-responsive {
    width: 100%;
    height: 90%;
    font-size: 130%;
    line-height: 1.7em;
  }
  
  
/**responsive video gp booking page**/
.videogp-responsive {

    width: 100%;
    height: 90%;
    font-size: 130%;
    line-height: 1.7em;

  }


  /**book gp form styling **/
.form-section {
    clear: left;
    background-image: url(../images/bookgpform-image.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
    border: 1px solid #dfe2e5;
    border-radius: 2px;
    border-color: #999;
   
}

/** signup form styling**/

    .bookgp-form {
        margin: 70px 5% 0 0;
        color: #fff;
        background-color: rgba(0,62,83, 0.6);
        max-width: 60%;
        height: 65%;
        position: absolute;
        left: 5%;
        padding: 40px;
        font-size: 1.3rem;
        
    }




/** register form styling starts here**/



#register-form {

    width: 600px;
	padding: 25px;
    background-color: rgba(90, 126, 138, 0.7);
	border-radius: 8px;
	margin: 25px auto;
    align-self: center;
	
  }

/** contact section**/

#contact {
    display:none;
}


#phone-contact {
    display: block;
    font-size: 150%;
    font-family: 'lato',sans-serif;
   
    height: 700px;
    width: 100%;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 3rem;


    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
   
    
    background-color: rgba(179, 208, 241, 0.7);   
}

.contact-font-size {

    font-size: 4rem;
}

.contact-boxes-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.phone-contact-box-left {

    width: 200px;
    margin-top: 200px;
    float: left;
    margin-left: 1px;
    text-align: center;
}

.phone-contact-box-right {
    width: 250px;
    text-align: center;
    margin-top: 200px;
    float: right;
    margin-right: 10px;
    padding-right: 10px;
}

.phone-contact-box-center {
    width: 270px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
}

th,
td {
    border-bottom: 1px solid #003E53;
}

/**footer section**/

.main-footer {
    display:none;
}

.phone-footer {
    display:block;
	background-color:#003E53;
	padding: 1em;
	text-align: center;
    width: 99%;
    height: 150px;
    position: relative;
    bottom: 0;
    right: 0;
	z-index: 1;
    font-size: 1.4rem;

}

.phone-footer  > h2 {

	color: rgba(179, 208, 241);
    font-size: 2rem;
    font-weight: bold;
    margin-top:20px;
    
}

.phone-footer > a {

	color: rgb(247, 247, 245);
	text-decoration: none;
	padding: 0 5px;
	font-size: 1.7rem;
    line-height: 2em;
}

.phone-footer  > p {
	color: rgb(247, 247, 245);
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.5em;
}

.text-uppercase {

    text-transform: uppercase;
}


 }

 @media screen and (max-width: 470px) {

    body {
        margin: auto 0;
        font-family: 'lato',sans-serif;
        font-size:  100%;
        font-weight: 200;
        line-height: 1.3;
        color: #333;
        text-align: left;
        background-color: rgb(233, 238, 247);
        width: 100%;

    }

    /*headings and logo*/

h1, h2 {
    font-family: Oswald, sans-serif;
    color:#003E53;
    letter-spacing: 1px;
}

header {

    width: 100%;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
}


/* navigation links */

#laptop-contact {
    display: none;
  }

#ph-contact{

    display: block;
  }

#menu {
    display: none;
}


#menu li {
   display: none;
    
}    

#logo {
    font-size: 4rem;
    line-height: 50px;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 50px;
 
     
 }
 
 
 /* navigation links */
 
 #menu {
     display: none;
 }
 
 
 #menu li {
    display: none;
     
 }    
 #menu-phonegp {
 
     display: none;
 }
 
 #menu-videogp {
 
     display: none;
 }
 
 
 
 .dropbtn {
     border: none;
     cursor: pointer;
     margin-right: 20px;
     margin-top: 30px;
     
   }
 
   .dropbtn img {
 
     display: block;
     width: 100px;
     height: 100px;
 
   }
   
   .dropdown {
     float: right;
     display: block;
     margin-top: 10px;
     margin-right: 10px;
     
   }
   
   .dropdown-content {
     display: none;
     position: absolute;
     background-color: rgba(179, 208, 241, 0.9);
     color:#003E53;
     min-width: 300px;
     box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
     z-index: 1;
     right: 0;
 
    }
   
   .dropdown-content a {
     color: #003E53;
     padding: 8px 8px;
     text-decoration: none;
     display: block;
     border: solid 0.1em #003E53;
   }
   
   .dropdown-content a:hover {background-color: #f1f1f1}
   
   .dropdown:hover .dropdown-content {
     display: block;
   }
   
  

/*main heading*/
#heading {

    display: block;
    list-style-type: disc;
    margin-block-start: 2px;
    margin-block-end: 2px;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-inline-start: 20px;
    width: 100%;
    
}
.main-heading {
    font-size: 2.5rem;
    line-height: 1;
    color: #003E53;
    
}
.one-third-width-column {

    display: block;
    color: #003E53;
    font-size: 1.5rem;
    margin-top: 15px;
    padding-right: 1px;
    padding-bottom: 2px;
}

.main-heading-text{
    color: #003E53;
    font-size: 1.5rem;
    margin-left: 0.1em;
    margin-right: 0.5px;
    padding-left: 2px;
    padding-bottom: 2px;
    margin-top: 20px;
}


  

/* hero image*/
.two-thirds-width-column {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.hero-img {

    width: 100%;
    height: 350px;
    float: left;
    
}

.two-thirds-width-column img {


    width: 90%;
    display: block;
   
    /* create zoom effect on image*/
    animation-name: hero-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* create a level of zoom for image*/
@keyframes hero-image-zoom {

    from {
         transform: scale(1);
    }
    to {

        transform: scale(1.1);

    }
}


.spacer {
    clear: both;
}

/* GP booking online*/
#book-gp {

    font-size: 250%;
    font-family: 'lato',sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

   
    height: 450px;
    width: 100%;

    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;



    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
   

    
    background-color: rgba(179, 208, 241, 0.7);

    
}
.text-center {

    text-align: center;
}
.font-size{

    font-size: 2rem;
}
.font-weight-bold {
    font-weight: 700;
}
/* gp online booking buttons*/
.gp-booking-buttons{
    margin-top: 2rem;
   
    padding: 0;
    margin: 0 auto;
    width: 85%;
}

.phone-gp {

    text-align: center;
    background-color: #003E53;
    color: #fff;
    border-color: #003E53;
    text-decoration: none;
    border: 1px solid transparent;

    display: block;
    cursor: pointer;
    
    
    border-radius: 6.1875rem;
    line-height:1.5;
    max-width: 500px;

   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    margin: 0 auto;
    margin-top: 35px; 

}

.video-gp {

    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #003E53;
    color: #fff;
    border-color: #003E53;
    text-decoration: none;
    border: 1px solid transparent;

    display: block;
    cursor: pointer;
    
    
    border-radius: 6.1875rem;
    line-height:1.5;
    max-width: 450px;

   
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
   
}

.btn-font-bold {
    font-size: 1.25rem;
    font-weight: 700;
}

/* How its work section */

h3 {
    font-family: Oswald, sans-serif;
    color:#003E53;
    letter-spacing: 0.5px;
    font-size: 1.5rem;
}
/**how its works and include section**/
#how-its-work {

    width: 100%;
    height: 150%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px


}

.img-work-section {

    width: 300px;
    height: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#one {

    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.one {

    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

#two {

    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.two {

    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

#three {

    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.three {

    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

#four {

    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.include-section {

    width: 99%;
    height: 120%;

    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.img-include-section {

    width: 300px;
    height: 400px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

}
.container {

    margin: 0 auto;
    height: 2000%;
    margin-left: 6px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.child  .include {

    margin: 50px;
    line-height: 100px;
    height: 100px;
    width: 100px;
    text-align: center;
}

.Includecontainer {

    margin-top: 2px;
    margin-bottom: 2px;
    height: 5000%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
/**registration and from section**/


.register-responsive a {
    text-decoration: none;
}

.register-responsive {

    width: 100%;
    height: 100%;
    font-size: 190%;
  }

#menu-register {
    line-height: 75px;
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: 500;
}
   
#menu-register li {
    float: right;
    margin-right: 10px;
    list-style-type: none;
    margin-top: 40px;
    
}    

#menu-register a {
    
    text-decoration: none;
    color: #003E53;
}

#menu.register a:hover {
    border-bottom: 1px solid #003E53;
}
/**signin responsive styling**/
.signin-responsive {

    width: 100%;
    height: 100%;
    font-size: 190%;
  }

  .signin-responsive a {
    text-decoration: none;
}
  #menu-signin {
      line-height: 75px;
      font-size: 110%;
      letter-spacing: 4px;
      font-weight: 500;
  }
     
  #menu-signin li {
      float: right;
      margin-right: 10px;
      list-style-type: none;
      margin-top: 40px;
      
  }    
  
  #menu-signin a {
      
      text-decoration: none;
      color: #003E53;
  }
  
  #menu-signin a:hover {
      border-bottom: 1px solid #003E53;
  }

  /** responsive telephone GP booking page**/
  
  .phonegp-responsive {
    width: 100%;
    height: 90%;
    font-size: 130%;
    line-height: 1.7em;
  }
  
  
  #menu-phonegp {
    line-height: 75px;
      font-size: 100%;
      letter-spacing: 3px;
      font-weight: 600;
      width: 100%;
}

     
#menu-phonegp li {
    
    float: right;
    margin-right: 10px;
    list-style-type: none;
    margin-top: 40px;

  }    
  

/**responsive video gp booking page**/
.videogp-responsive {

    width: 100%;
    height: 90%;
    font-size: 130%;
    line-height: 1.7em;

  }

 

  /**book gp form styling **/
.form-section {
    clear: left;
    background-image: url(../images/bookgpform-image.jpg);
    background-size: cover;
    background-position: center;
    height: 1100px;
    border: 1px solid #dfe2e5;
    border-radius: 2px;
    border-color: #999;
   
}

/** signup form styling**/
.bookgp-form {
    margin: 20px 5% 0 0;
    color: #fff;
    background-color: rgba(0,62,83, 0.6);
    width: 65%;
    position: absolute;
    left: 5%;
    padding: 40px;
}


/** register form styling starts here**/



#register-form {

    width: 250px;
    padding: 15px;
    background-color: rgba(90, 126, 138, 0.7);
    border-radius: 8px;
    margin: 10px auto;
	
  }

/** contact section**/

#contact {
    display:none;
}


#phone-contact {
    display: block;
    font-size: 120%;
    font-family: 'lato',sans-serif;
   
    height: 650px;
    width: 100%;

   margin: 0 auto;
    margin-bottom: 3rem;


    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
   
    
    background-color: rgba(179, 208, 241, 0.7);   
}

.contact-font-size {

    font-size: 3rem;
}

.contact-boxes-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.phone-contact-box-left {
    width: 270px;
    text-align: center;
    margin-top: 40px;
    margin-left: 20px;
}

.phone-contact-box-right {
    width: 270px;
    text-align: center;
    margin-top: 80px;
    margin-left: 20px;
}

.phone-contact-box-center {
    width: 270px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
}

th,
td {
    border-bottom: 1px solid #003E53;
}

/**footer section**/

.main-footer {
    display:none;
}

.phone-footer {
    display:block;
	background-color:#003E53;
	padding: 1em;
	text-align: center;
    width: 100%;
    height: 200px;
    position: relative;
    bottom: 0;
    right: 0;
	z-index: 1;
    font-size: 1rem;

}

.phone-footer  > h2 {

	color: rgba(179, 208, 241);
    font-size: 2rem;
    font-weight: bold;
    margin-top:20px;
    
}

.phone-footer > a {

	color: rgb(247, 247, 245);
	text-decoration: none;
	padding: 0 5px;
	font-size: 1.3rem;
    line-height: 2em;
}

.phone-footer  > p {
	color: rgb(247, 247, 245);
    font-size: 1rem;
    text-align: center;
    line-height: 1.5em;
}

.text-uppercase {

    text-transform: uppercase;
}


 }